h1 video
h2 uuid
p= @movie.uuid
h2 preview
=render partial: "movie", locals: { movie: @movie }
=render partial: "player_assets"
h2 HTML code
p= raw(CGI::escapeHTML(render partial: "movie", locals: { movie: @movie }))
h3 JavaScript code
p=raw(CGI::escapeHTML(render partial: "player_assets", locals: { movie: @movie }))
