defaults: &defaults
  url: "redis://localhost:6379"
  namespace: "janiconverter"

development:
  server:
    <<: *defaults
  client:
    <<: *defaults

production:
  server:
    <<: *defaults
    url: <%= ENV['REDIS_URL'] || "redis://localhost:6379" %>
  client:
    <<: *defaults
    url: <%= ENV['REDIS_URL'] || "redis://localhost:6379"%>

test:
  server:
    <<: *defaults
  client:
    <<: *defaults
