defaults: &defaults
  provider: AWS
  region: ap-northeast-1
  path_style: true
  public: false
  max_age: <%= 365.day.to_i %>
  access_key_id: <%= Rails.application.secrets.aws_access_key_id %>
  secret_access_key: <%= Rails.application.secrets.aws_secret_access_key %>

upload_defaults: &upload_defaults
  <<: *defaults
  directory: 'movie.ap-northeast-1/movie-transcoder/uploads'

publish_defaults: &publish_defaults
  <<: *defaults
  directory: 'publish.ap-northeast-1/movies/'

development:
  upload:
    <<: *upload_defaults
  publish:
    <<: *publish_defaults

production:
  upload:
    <<: *upload_defaults
    directory: <%= ENV['AWS_UPLOAD_DIRECTORY'] %>
  publish:
    <<: *publish_defaults
    directory: <%= ENV['AWS_PUBLISH_DIRECTORY'] %>

test:
  upload:
  publish:
